<html>
	<head>
		<title>Unsubscribe</title>
	</head>
	<body>
		<h1>Unsubscribe</h1>
		<form method="post" action="unsubscribe">
			<p><%= user.name %>, are you sure you want to unsubscribe?</p>
			<input type="hidden" name="id" value="<%= user._id %>" />
			<input type="submit" value="Unsubscribe" />
		</form>
</html>
