<script type="text/javascript">

		$(document).ready(function() {
			for (var i = 0; i < savedFoods.length; i++) {
				addItem(savedFoods[i]);
			}
		});
		function addCustom() {
			var val = $("#customtext").val();
			if (val.length > 0) {
				// now checkk if we've already added it
				if ($.inArray(val, chosenFoods) == -1) {
					chosenFoods.push(val);
					$("#selectedfoods").append("<li>" + val + "</li>");
				}
			}
		}
		
		var savedFoods = <%- JSON.stringify(userfoods) %>;
		var chosenFoods = [];
		var autocompleteFoods = [];
		
		function submit_clicked() {
			document.f.foods.value = chosenFoods.join(',');
		}
		
		function search() {
			$.get('/autocomplete', {query : $("#customtext").val()}, function(data) {
				autocompleteFoods = JSON.parse(data);
				if (autocompleteFoods.length != 0) {
					var results = $("<p />");
					
					for (var i = 0; i < autocompleteFoods.length; i++) {
						var icon = "[+]";
						if ($.inArray(autocompleteFoods[i], chosenFoods) != -1)
							icon = "[-]";
							
						var link = $("<a/>", { 
							href : "#",
							id : "addlink" + i,
							text : icon
						});
						link.click(autocompleteFoods[i], function(e) { addItem(e.data) }); 
						results.append(link);
						results.append(" " + autocompleteFoods[i] + "<br/>");

					}
					
					$("#autocompletefoods").html("<p>Matches:</p>").append(results);
				}
				else
					$("#autocompletefoods").html("<p>No matches found</p>");
			});
		}
		
		function addItem(val) {
			if ($.inArray(val, chosenFoods) == -1) {
				var remove = function(e) { removeItem(e.data) };
				var span = $("<span/>");
				var link = $("<a/>", {
					href : '#',
					text : '[-]'
				}).click(val, remove);
				span.append(link);
				span.append(" " + val + "<br />");
				$("#selectedfoods").append(span);
				
				var autocompleteIndex = $.inArray(val, autocompleteFoods);
				if (autocompleteIndex != -1) {
					var button = $("#addlink" + autocompleteIndex);
					button.html("[-]");
					button.unbind('click').click(val, remove);
				}
				chosenFoods.push(val);
			}
		}
		
		function removeItem(val) {
			// assume val is contained in chosenFoods
			var index = $.inArray(val, chosenFoods); // this shouldn't return -1
			//alert("remove " + val + " " + index);
			chosenFoods.splice(index, 1); // remove the element
			$("#selectedfoods span:nth-child(" + (index + 1) + ")").remove();
			var autocompleteIndex = $.inArray(val, autocompleteFoods);
			if (autocompleteIndex != -1) {
				var button = $("#addlink" + autocompleteIndex);
				button.html("[+]");
				button.unbind('click').click(val, function(e) { addItem(e.data) });
			}
		}
		
	</script>
	<div class="page-header">
		<h1>Choose your foods</h1>
	</div>
	<form name="f" method="post" action="edit" class="form-stacked">
		<% if (errors.length > 0) { %>
		<div class="alert-message block-message error">
		<p><strong>There were some errors</strong>
			<ul>
			<% for (var i = 0; i < errors.length; i++) { %>
				<li><%= errors[i] %></li>
			<% } %>
			</ul>
		</p>
		</div>
		<% } %>
		<div class="row">
			<div class="span8">
				<label for="name">What's your name:</label>
				<div>
					<input class="xlarge span5" type="text" id="name" name="name" value="<%= username %>" />
				</div>
				<label for="customtext">Type your own choices:</label>
				<div>
					<input type="text" id="customtext" class="xlarge span5" onkeyup="search()" autocomplete="off" />
				</div>
				<div id="autocompletefoods" style="height: 16em">
					<p>No matches found</p>
				</div>
			</div>
			<div class="span7">
				<p>Your selected foods:</p>
				<p id="selectedfoods">
				</p><br />
			</div>
		</div>
		<div class="row">
			<div class="span16">
					<label><input type="checkbox" name="meals" value="breakfast" />Breakfast</label>
					<label><input type="checkbox" name="meals" value="lunch" />Lunch</label>
					<label><input type="checkbox" name="meals" value="dinner" />Dinner</label>
				<input type="hidden" name="email" value="<%= email %>"/>
				<input type="hidden" name="foods" />
				<div>
					<input class="btn primary" type="submit" value="Submit" onclick="submit_clicked()" />
				</div>
			</div>
		</div>
	</form>
