<h1>Database Contents</h1>
<h2>Users</h2>
	<ul>
	<% for (var i = 0; i < users.length; i++) { %>
		<li><code><%= users[i] %></code></li>
	<% } %>
	</ul>
<h2>Foods</h2>
	<ul>
	<% for (var i = 0; i < foods.length; i++) { %>
		<li><code><%= foods[i] %></code></li>
	<% } %>
	</ul>
