<h1>Database Contents</h1>
<h2>Users</h2>
	<ul>
	<% for (var i = 0; i < users.length; i++) { %>
		<li><code><%= users[i] %></code></li>
	<% } %>
	</ul>
<h2>Global Foods</h2>
	<ul>
	<% for (var i = 0; i < globalfoods.length; i++) { %>
		<li><code><%= globalfoods[i] %></code></li>
	<% } %>
	</ul>
<h2>Menu Foods</h2>
	<ul>
	<% for (var i = 0; i < menufoods.length; i++) { %>
		<li><code><%= menufoods[i] %></code></li>
	<% } %>
	</ul>
