<h1>Today's Ratty Menu</h1>
<h2>Breakfast</h2>
	<ul>
	<% for (var i = 0; i < breakfast.length; i++) { %>
		<li><code><%= breakfast[i] %></code></li>
	<% } %>
	</ul>
<h2>Lunch</h2>
	<ul>
	<% for (var i = 0; i < lunch.length; i++) { %>
		<li><code><%= lunch[i] %></code></li>
	<% } %>
	</ul>
<h2>Dinner</h2>
	<ul>
	<% for (var i = 0; i < dinner.length; i++) { %>
		<li><code><%= dinner[i] %></code></li>
	<% } %>
	</ul>
